body 
{
    color: black;
    text-align: center;
    font-family: "arial";
    font-size: large;
    margin: 0%;
    padding: 0%;

}

#contair 
{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 11px solid black;
    margin: 0 auto;
}

#container h1
{
    font-size:  20px;

}